

body {
    div.ost-consultant--badge {
        display: none;
    }
}


body.is--consultant {
    div.ost-consultant--badge {
        display: inherit;
    }
}




body.is--consultant div.ost-consultant--badge {

    bottom: 22px;
    left: -106px;
    position: fixed;
    transform: rotate(45deg);
    text-align: center;
    background-color: #3f5866;
    color: white;
    height: 46px;
    line-height: 18px;
    width: 300px;
    padding: 5px;
    z-index: 4999;
}








