
// on register
body.is--ctl-register.is--act-index {
    form.panel.ost-consultant--register--form {
        // hide registration form by default and show it via button
        display: none;
    }
}

// ...
body.is--ctl-register.is--act-index {

    // remove shopware login
    div.register--login {
        display: none;
    }

    // show registration in full width
    div.register--content {
        width: 100%;
    }

    // result container
    div.search-result-container {
        div.alert.is--error {
            margin: 20px 0 0 0;
        }
    }
}

// ...
table.ost-consultant--erp-customer-search--search-result {
    width: 100%;
    margin-top: 20px;

    tr td {
        width: 20%;
    }

    tr td:nth-child(1), table tr td:nth-child(2) {
        width: 27.5%;
    }

    tr td:nth-child(3), tr td:nth-child(4), tr td:nth-child(5) {
        width: 15%;
    }

    tr td:nth-child(5) {
        text-align: center;
    }
}
